<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Data member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"></link>
</head>
<body>

<div id="wrapper">
    <div th:replace="sidebar :: sidebar-fragment">&nbsp;</div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <a th:href="@{/member/}">Create New Member</a>
            <table id="member-table" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member : ${members}">
                    <td scope="row">
                        <a th:href="@{'/member/' + ${member.id}}" th:text="${member.username}"></a>
                    </td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.role}"></td>
                    <td>
                        <form action="#" th:action="@{'/member/' + ${member.id}}" th:method="delete" >
                            <input type="submit" name="_method" value="Delete" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>