<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Data member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

</head>
<body>

    <div id="wrapper">
        <div th:replace="sidebar :: sidebar-fragment">&nbsp;</div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div>
                    <input type="text" class="input100" name="username" placeholder="username" id="username"/>
                    <input type="password" class="input100"  name="password" id="password"
                           placeholder="Password" required="true"/>
                    <select class="form-control" id="roleUser" >
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                    <button  id="updateUser" class="btn btn-info">Save</button><button id="saveUser" class="btn btn-success">Create New User</button>

                </div>
                <table id="member-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="userTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>